# onfon_media_sms_gateway
#
# This file was automatically generated by
# APIMATIC v2.0 ( https://apimatic.io ).

module OnfonMediaSmsGateway
  # CampaignController
  class CampaignController < BaseController
    @instance = CampaignController.new

    class << self
      attr_accessor :instance
    end

    def instance
      self.class.instance
    end

    # Get Campaign Message Status
    # @param [Integer] campaign_id Required parameter: First user have to call
    # Get Campaigns api for CampaignId
    # @return Mixed response from the API call
    def get_campaign_message_status(campaign_id)
      # Prepare query url.
      _path_url = '/Campaign/Statistics'
      _query_builder = Configuration.base_uri.dup
      _query_builder << _path_url
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        {
          'campaignId' => campaign_id
        },
        array_serialization: Configuration.array_serialization
      )
      _query_url = APIHelper.clean_url _query_builder
      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'AccessKey' => Configuration.access_key
      }
      # Prepare and execute HttpRequest.
      _request = @http_client.get(
        _query_url,
        headers: _headers
      )
      CustomQueryAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)
      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_context.response.raw_body) unless
        _context.response.raw_body.nil? ||
        _context.response.raw_body.to_s.strip.empty?
      decoded
    end

    # Get Campaigns
    # @param [Date] enddate Required parameter: Date format must be in
    # yyyy-mm-dd
    # @param [Date] fromdate Required parameter: Date format must be in
    # yyyy-mm-dd
    # @param [Integer] length Required parameter: Ending index value to fetch
    # the campaign detail.
    # @param [Integer] start Required parameter: Starting index value to fetch
    # the campaign detail.
    # @return Mixed response from the API call
    def get_campaigns(enddate,
                      fromdate,
                      length,
                      start)
      # Prepare query url.
      _path_url = '/Campaign'
      _query_builder = Configuration.base_uri.dup
      _query_builder << _path_url
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        {
          'enddate' => enddate,
          'fromdate' => fromdate,
          'length' => length,
          'start' => start
        },
        array_serialization: Configuration.array_serialization
      )
      _query_url = APIHelper.clean_url _query_builder
      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'AccessKey' => Configuration.access_key
      }
      # Prepare and execute HttpRequest.
      _request = @http_client.get(
        _query_url,
        headers: _headers
      )
      CustomQueryAuth.apply(_request)
      _context = execute_request(_request)
      validate_response(_context)
      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_context.response.raw_body) unless
        _context.response.raw_body.nil? ||
        _context.response.raw_body.to_s.strip.empty?
      decoded
    end
  end
end
